.button-list {
  font-size: 18px;
  font-weight: 600;
  list-style-position: inside;
  padding-left: 0;
}

.name-line {
  margin: 0 10px;
}

textarea {
  resize: none;
  width: 100%;
}

.color-gray {
  background-color: #888888;
  border: solid #000;
}

.color-white {
  background-color: #fff;
  border: solid #000;
  color: #000;
}

.color-green {
  background-color: #1bff0f;
  border: solid #000;
  color: #000;
}

.color-red {
  background-color: #ff2121;
  border: solid #000;
}

.status {
  display: none;
}

.seat-state {
  font-weight: 600;
}

#circleCharts {
  margin: 5vh auto;
  height: 15vh;
  width: 30vw;
}

.inner {
  margin: 5vh 0;
  display: flex;
  justify-content: space-evenly;
}

#title,
.small-title,
.rate-div {
  text-align: center;
}

#title {
  margin: 3vh 3vw;
}

.small-title {
  font-family: "Yu Gothic";
}

.rate-div #rate {
  font-weight: bold;
}

.rate-div {
  padding-bottom: 10px;
}

.btn {
  height: 60px;
  width: 150px;
  font-size: 20px;
}

.outer {
  background-color: #cecece;
}

/* 引用元 https://webdesignfacts.net/entry/css-background-patterns/#gsc.tab=0 */
body {
  background: radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(
      45deg,
      transparent 74px,
      transparent 75px,
      #a4a4a4 75px,
      #a4a4a4 76px,
      transparent 77px,
      transparent 109px
    ),
    linear-gradient(
      -45deg,
      transparent 75px,
      transparent 76px,
      #a4a4a4 76px,
      #a4a4a4 77px,
      transparent 78px,
      transparent 109px
    ),
    #fff;
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}
